


<form class="needs-validation" action="/{{data._id}}/edit" method="post" novalidate>
  {{!-- name required --}}
  <div class="mt-3 w-50 mx-auto">
    <label for="name" class="form-label">*Name :</label>
    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" name="name" placeholder="*必填,請輸入餐聽名稱" required value="{{data.name}}">
    <div class="invalid-feedback">
      請輸入餐廳名稱!
    </div>
  </div>

  {{!-- name_en --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="name_en" class="form-label">English Name :</label>
    <input type="text" class="form-control" id="name_en" aria-describedby="name_en_Help" name="name_en" value="{{data.name_en}}" placeholder="選填,請輸入餐聽英文名稱" >
    
  </div>

  {{!-- category  --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="category" class="form-label">*category :</label>

    
    <select id="category" class="form-control" aria-describedby="categoryHelp" name="category"  >
      <option {{#if (eq data.category '美式') }}selected{{/if}}>美式</option>
      <option {{#if (eq data.category '義式餐廳') }}selected{{/if}}>義式餐廳</option>
      <option {{#if (eq data.category '日本料理') }}selected{{/if}}>日本料理</option>
      <option {{#if (eq data.category '韓式料理') }}selected{{/if}}>韓式料理</option>
      <option {{#if (eq data.category '台式料理') }}selected{{/if}}>台式料理</option>
      <option {{#if (eq data.category '中東料理') }}selected{{/if}}>中東料理</option>
      <option {{#if (eq data.category '咖啡') }}selected{{/if}}>咖啡</option>
      <option {{#if (eq data.category '酒吧') }}selected{{/if}}>酒吧</option>
    </select>
 
  </div>
  {{!-- image --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="image" class="form-label">image :</label>
    <input type="URL" class="form-control" id="image" aria-describedby="imageHelp" name="image" value="{{data.image}}" placeholder="選填,請輸入餐廳圖片 http:/">
    <div class="invalid-feedback">
      網址輸入不合法，請重新輸入!
    </div>
  </div>

  {{!-- location twzipcode --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="location" class="form-label">*location :</label>
    <div class="twzipcode"></div>
    <input type="text" class="form-control" id="location" aria-describedby="locationHelp" name="location"
      placeholder="*必填,請輸入街道樓層" value="{{data.location}}" required>
    <div class="invalid-feedback">
      請輸入餐廳地址!
    </div>
  </div>

  {{!-- phone --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="phone" class="form-label">phone :</label>
    <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" name="phone" value="{{data.phone}}" placeholder="選填,請輸入餐廳電話">
    <div class="invalid-feedback">
      電話輸入不合法!只能輸入數字。
    </div>
  </div>

  {{!-- google_map --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="google_map" class="form-label">google map :</label>
    <input type="URL" class="form-control" id="google_map" aria-describedby="google_map_Help" name="google_map" value="{{data.google_map}}" placeholder="選填,請輸入餐廳Google Map 網址 http:/">
    <div class="invalid-feedback">
      網址輸入不合法，請重新輸入!
    </div>
  </div>
  {{!-- rating --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="rating" class="form-label">rating :</label>
    <input type="number" class="form-control" id="rating" aria-describedby="ratingHelp" name="rating" value="{{data.rating}}" placeholder="選填,請輸入餐廳預設評分 " step="0.1" min="0" max="5">
    <div class="invalid-feedback">
      預設評分輸入不合法,只能輸入數字且介於0到5之間,請重新輸入!
    </div>
  </div>
  {{!-- description required --}}
  <div class="mt-2 w-50 mx-auto">
    <label for="description" class="form-label">*description :</label>
    <textarea class="form-control" id="description" name="description" rows="8" placeholder="*必填,請輸入餐廳描述 " required >{{data.description}}</textarea>
    <div class="invalid-feedback">
      請輸入餐廳描述!
    </div>
  </div>

  <button type="submit" class="btn btn-primary d-grid mt-3 col-3 mx-auto">儲存修改</button>


</form>

<script src="https://code.essoduke.org/js/twzipcode/twzipcode.latest.js"></script>
<script src="/javascripts/TWzipcode.js"></script>